# Результаты сборки — на любой вложенности
**/bin/
**/obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
packages/
*.nupkg

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper

# Временные файлы
*.tmp
*.log
*.cache
*.swo
*.swp